
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    height: 100vh;
    padding: 3rem;
    background: whitesmoke;
    box-shadow:  0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}
input {
    padding: 0.4rem;
    
}
.error{
    color:red;
}