
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    height: 100vh;
    padding: 3rem;
    background: whitesmoke;
    box-shadow:  0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}
input {
    padding: 0.4rem;
    
}
.error{
    color:red;
}

.abrir-modal-recuperar,
.abrir-modal-registro{
cursor: pointer;
color: blue;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.08);
    align-items: center;
    justify-content: center;
}

.modal-contenido {
    background-color: aliceblue;
    padding: 2rem;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.02);
    margin: 0 auto;

}


.modal-contenido h2 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-contenido span:hover,
.modal-contenido span:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}